html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 1.3;
  color: $text;
  background-color: #fff;
}

.main {
  flex-grow: 1;

  // @media (max-width:1200px){

  // }

}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.narrow-container {
  @extend .container;
  max-width: 1200px;
}

.small-container {
  max-width: 470px;
  margin: 0 auto;
}



.title {
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;

  color: #191919;
}

// MIXITUP
.filter {
  text-align: center;
  margin-bottom: 80px;

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;

    color: #8b8b8b;
    background-color: transparent;

    outline-color: #fff;
    border: none;
    cursor: pointer;

    transition: color 0.3s;

    &+& {
      margin-left: 27px;
    }

    &:focus,
    &:hover,
    &:active {
      color: #1a1a1a;
    }
  }
}

.mixitup-control-active {
  border-bottom: 1px solid #000;
}

.header--small {
  padding-bottom: 54px !important;
}

// Breadcrumbs
.breadcrumbs {
  padding: 19px 0 34px;
  background-color: #edf1f4;

  &__title {
    margin-bottom: 7px;

    @extend %rubik-300;
    font-size: 36px;
    text-align: center;
    color: #222933;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;

    &::after {
      content: '/';
      position: absolute;
      height: 13px;
      left: 0px;
      top: 0px;
    }

    &:first-child {
      padding-left: 0;
      margin-left: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    opacity: 0.6;
    color: #222933;
    transition: color 0.3s;

    &:focus,
    &:hover,
    &:active {
      color: $bg;
    }
  }
}