.filter-price {
  padding-bottom: 90px;

  &__title {
    margin-bottom: 30px;
    padding-right: 166px;

    &::after {
      left: 65px;
    }
  }

  .irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 1px;
  }

  .irs--flat .irs-handle {
    top: 0px;
    width: 15px;
    height: 15px;
    background-color: $accent;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: $accent;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__label {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
  }
}