.filter-brand {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 30px;
    padding-right: 133px;

    span {
      left: 33%;

      @include r(480) {
        left: 45%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    max-width: 270px;
  }

  &__link {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 10px 13px 13px;

    color: $text;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    &:focus {
      background-color: #aec3bd;
    }

    &:hover {
      background-color: $accent;
    }

    &:active {
      background-color: $footer-links;
    }

    span {
      padding-right: 22px;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }
  }
}