.filter-brand {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 30px;
    width: 121px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    max-width: 270px;
  }

  &__link {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 16px 10px 13px 13px;

    color: $text;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:focus {
      background-color: #aec3bd;
    }

    &:hover {
      background-color: $accent;
    }

    &:active {
      background-color: $footer-links;
    }

    span:nth-child(1) {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   right: 10px;

    //   width: 6px;
    //   height: 10px;
    //   background-image: url('../images/icons/angle-right.svg');
    // }
  }

}