.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
  margin-bottom: 120px;

   @include r(1199){
      margin-top: 30px;
      margin-bottom: 60px;
   }

      @include r(767) {
        margin-top: 15px;
        margin-bottom: 30px;
      }

  .pagination__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
  }

  &__link,
  &__next {
    padding: 19px 20px;
    border: 1px solid $accent;
    background-color: #fff;
    color: $text;
    cursor: pointer;
    transition: all 0.3s;

    &:focus {
      background-color: #aec3bd;
    }

    &:hover {
      background-color: $accent;
      color: #fff;
    }

    &:active {
      background-color: $footer-links;
    }

    &--active {
      color: #fff;
      background-color: $accent;
    }
  }

  // &__next {
  //   border: 1px solid $accent;
  //   padding: 19px 19px 21px;
  //   transition: all 0.3s;
  //   cursor: pointer;

  //   &:focus {
  //     background-color: #aec3bd;
  //   }

  //   &:hover {
  //     background-color: $accent;
  //     color: #fff;
  //   }

  //   &:active {
  //     background-color: $footer-links;
  //   }
  // }
}