.shop-content {
  &__filter {
    position: relative;

    display: flex;
    align-items: center;

    padding: 25px;
    margin-bottom: 40px;

    border: 1px solid $accent;

    @include r(480) {
      margin: 0 10px 30px 10px;
    }
  }

  &__filter-btns {
    position: absolute;
    right: 25px;
    bottom: 13px;

    display: flex;
    align-items: center;

    span {
      line-height: 0;
    }
  }

  &__filter-btn {
    padding: 5px;
    margin-left: 15px;

    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    fill: $footer-links;
    transition: fill 0.3s;

    &:hover {
      fill: $bg;
    }

    &.active {
      fill: $bg;
    }

    .icon {
      height: 15px;
      width: 15px;

      &--list {
        width: 20px;
      }
    }
  }


}