.shop-content {
  &__filter {
    border: 1px solid $accent;
    padding: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    position: relative;

    @include r(480) {
     margin: 0 10px 30px 10px;
    }
  }

  &__filter-btns {
    display: flex;
    align-items: center;

    position: absolute;
    right: 25px;
    bottom: 16px;

    span {
      line-height: 0;
    }
  }

  &__filter-btn {
    padding: 0;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    fill: grey;
    transition: fill 0.3s;

    &:hover {
      fill: #fe3e57;
    }

    &.shop-content__filter-btn--active {
      fill: $bg;
    }
  }

  &__filter-icon {
    height: 15px;
    width: 15px;

    &--list {
      width: 20px;
    }
  }
}

