.shop-content {
  &__filter {
    border: 1px solid $accent;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    position: relative;
  }

  &__filter-btns {
    display: flex;
    align-items: center;

    position: absolute;
    right: 25px;
    bottom: 13px;

    span {
      line-height: 0;
    }
  }

  &__filter-btn {
    padding: 0;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;


    &.shop-content__filter-btn--active {
      fill: $accent;
    }
  }
}


.main-products__inner {

  .product-card {
    width: 30%;

    padding: 30px 42px 38px;
    text-align: center;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    background-color: #fff;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin-bottom: 40px;

    @include r(767) {
      width: 50%;
    }

    @include r(480) {
      width: 100%;
    }

    &.product-card--list {
      display: flex;
      flex-direction: row;

      justify-content: start;
      padding: 0;
      background-color: transparent;

      box-shadow: none;
      width: 100%;

      &:hover {
        .product-card__btns {
          transform: none;
        }
      }

      @include r(767) {
        justify-content: space-around;
        flex-direction: column;
      }

      .product-card__img-box {
        padding: 82px 24px;
        width: 370px;
        margin-bottom: 0;
        border: 2px solid #f2f2f2;
        background-color: #fefefe;
        margin-right: 60px;

        @include r(1199) {
          margin-right: 10px;
          padding: 32px 16px;
        }

        @include r(767) {
          padding: 5px;
          width: 250px;
          height: 350px;
        }
      }

      .product-card__img {
        max-height: 350px;
        min-width: 323px;
        // max-height: 350px;
        // max-width: 323px;

        @include r(1199) {
          min-width: 250px;
        }

        @include r(767) {
          min-width: 200px;
          min-height: 220px;
          object-fit: contain;
        }
      }

      .product-card__box {
        align-self: center;
        justify-content: center;
      }

      .product-card__content {
        text-align: left;

        @include r(767) {
         margin-top: 15px;
         text-align: center;
        }
      }

      .product-card__name {
        font-size: 40px;
        @extend %rubik-400;
        color: $border;
        margin-bottom: 25px;

        @include r(767) {
          font-size: 25px;
          margin-bottom: 15px;
        }

        @include r(767) {
          font-size: 25px;
          margin-bottom: 15px;
        }
      }

      .product-card__star {
        display: block;
        margin-bottom: 37px;

        @include r(746) {
          margin-bottom: 15px;
        }
      }

      .product-card__price {
        display: block;
        font-size: 30px;
        color: $border;
        margin-bottom: 36px;

        @include r(767) {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }

      .product-card__desc {
        display: block;
        font-size: 16px;
        color: $text;
        margin-bottom: 140px;
        max-width: 404px;

        @include r(767) {
          display: none;
        }
      }

      .product-card__btns {
        opacity: 1;
        bottom: 71px;
        left: 49%;

         @include r(1199){
          bottom: 0;
         }

        @include r(767) {
          bottom: 35%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      a {
        display: none;
      }

      .product-card__link {
        border-radius: 0;
      }
    }

    &:hover {
      .product-card__btns {
        opacity: 1;
        transform: translateY(-276%);

        @include r(1199) {
          transform: none;
        }
      }
    }

    &__img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-bottom: 70px;
    }

    &__img {
      max-height: 206px;
      max-width: 238px;
      // height: 206px;
      // width: 238px;

      @include r(1199) {
        max-height: 200px;
        max-width: 200px;
      }
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      font-size: 16px;
      @extend %dmsans-500;
      margin-bottom: 17px;
      color: #243f4d;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__star {
      display: none;
    }

    &__price {
      font-size: 16px;
      @extend %dmsans-700;
      color: #a3bbc8;
      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    &__desc {
      display: none;
    }

    &__btns {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      transform: translateY(0);
      opacity: 0;

      transition: all 0.4s;

      @include r(1199) {
        opacity: 1;
        top: 55%;
        // transform: translateY(-276%);
      }
    }

    &__icon {
      height: 20px;
      width: 22px;

      &--search {
        width: 20px;
      }

      &--heart {
        height: 18px;
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 45px;
      height: 45px;

      fill: $accent;
      background-color: #fff;
      border-radius: 50%;

      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
      transition: all 0.3s;

      &:focus {
        fill: #e6d96d;
        background-color: $top-links;
      }

      &:hover {
        fill: #fff;
        background-color: $accent;
      }

      &:active {
        fill: $footer-links;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

  }
}