.shop {
  padding: 120px 0 0;

  background-color: #fff;

  @include r(991) {
    padding: 60px 0;
  }

  @include r(767) {
    padding: 30px 0;
  }

  @include r(480) {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;

    position: relative;
    overflow-x: hidden;
  }

  &__filters {
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    width: 270px;
    position: relative;
    padding: 10px;

    @include r(480) {
      width: 200px;
    }
  }

  .filters-menu__btn {
    display: none;
  }

  @include r(991) {
    .filters-menu {
      padding: 10px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 990;
      width: 40%;
      // height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;
      transition: 0.5s;
      transform: translateX(-100%);

      @include r(767) {
        width: 60%;
      }

      @include r(480) {
        width: 82%;
      }

      &__btn {
        display: none;

        @include r(991) {
          display: block;
        }
      }
    }


    .filters-menu--active {
      transform: translateX(0%);
      border: 1px solid #000;

      .filters-menu__btn-icon {
        transform: rotate(-180deg);
      }
    }

    .filters-menu__btn-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      right: -48px;
      top: 5px;
      fill: $bg;

      transition: transform 0.6s, fill 0.5s;

      &:hover {
        fill: $top-links;
      }

      @include r(480) {
        right: -60px;
        background-color: $accent;
        fill: $text;
      }
    }

    .shop-filters--active {
      transform: translateX(100%);
    }
  }

}