.info {
  padding: 171px 0 78px;
  background-color: $bg;

  &__list {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;

    @extend %dmsans-700;
    color: $text;
  }

  &__icon {
    position: absolute;
    top: -87px;

    &--rate {
      top: -83px;
    }

    &--delivered {
      top: -75px;
    }
  }

  &__icon-rate {
    width: 75px;
    height: 60px;
  }

  &__icon-delivered {
    width: 73px;
    height: 52px;
  }

  &__icon-daily {
    width: 79px;
    height: 64px;
  }

  &__icon-brands {
    width: 61px;
    height: 64px;
  }

  &__number {
    margin-bottom: 12px;

    font-size: 36px;
    line-height: 0.9;
  }

  &__name {
    font-size: 18px;
    line-height: 1.8;
  }
}