// MODAL START
.modal {
  padding: 111px 0 90px;

  &__label {
    display: block;
    margin-bottom: 26px;
    color: $top-links;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 0 15px;

    border: 2px solid #f6f6f6;
    background-color: #fff;
  }

  &__btn {
    display: block;
    margin-bottom: 33px;
    padding: 16px 0;
    width: 100%;

    font-size: 18px;
    @extend %rubik-500;

    cursor: pointer;

    background-color: $accent;
    border: 2px solid $accent;
    color: #fffefe;

    transition: all 0.3s;

    &:focus,
    &:hover,
    &:active {
      background-color: #fff;
      color: $accent;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
  }

  &__text {
    margin: 33px 0 24px;
    text-align: center;
    color: $top-links;
  }

  &__btn--white {
    padding: 18px 0;

    border: 2px solid $accent;
    color: #243f4d;
    background-color: #fff;

    transition: all 0.3s;

    &:focus,
    &:hover,
    &:active {
      background-color: $accent;
      color: #fff;
    }
  }
}