// TERMS
.terms-info {
  padding-top: 110px;

  &__title {
    margin-bottom: 15px;

    @extend %rubik-500;
    font-size: 24px;
    line-height: 1.6;

    color: $text;
    &--bottom{
      margin-bottom: 12px;
    }
  }

  &__list {
    margin-bottom: 60px;
    padding-left: 35px;
    
    list-style-type: decimal-leading-zero;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__item,
  &__text {
    font-size: 16px;
    line-height: 1.9;
    color: $text;
  }
}

