.blog {
  margin-bottom: -200px;
  padding-top: 109px;
  background-color: #fff;

  @include r(1199) {
    padding-top: 80px;
  }

  @include r(480) {
    padding-top: 40px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;

    @include r(480) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__title {
    @include r(480) {
      margin-bottom: 15px;
    }
  }

  &__top-link {
    position: relative;

    font-size: 16px;
    @extend %dmsans-700;

    color: #262626;
    transition: color 0.3s;

    &:focus,
    &:hover {
      color: $accent;

      &::after {
        background-image: url('../images/icons/small-arrow-accent.svg');
      }
    }

    &::after {
      content: '';
      display: inline-block;
      margin-right: 20px;

      width: 7px;
      height: 12px;
      background-image: url('../images/icons/small-arrow.svg');
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}