.design {
  padding: 96px 0 120px;
  background-color: #fff;

  @include r(1199) {
    padding: 80px 0;
  }

  @include r(480) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 22px;

    @include r(1199) {
      margin-bottom: 10px;
    }
  }

  &__filter {
    margin-bottom: 78px;

    @include r(1199) {
      margin-bottom: 50px;
    }

    @include r(480) {
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;

    @include r(1199) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(991) {
      grid-gap: 20px 15px;
    }

    @include r(767) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}