.design {
  padding: 96px 0 120px;
  background-color: #fff;

  @include r(1200) {
    padding: 25px 0;
  }

    @include r(448) {
      padding: 5px 0;
    }

  &__title {
    margin-bottom: 22px;

    @include r(1200) {
      margin-bottom: 10px;
    }
  }

  &__filter {
    margin-bottom: 78px;

    @include r(1200) {
      margin-bottom: 20px;
    }

    @include r(448) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;

    @include r(1200) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(993) {
      grid-gap: 20px 15px;
    }

    @include r(648) {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}