.footer {
  padding-top: 100px;
  background-color: #fff;
  position: relative;

  @include r(1199) {
    padding-top: 25px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 50px;

    @extend %rubik-400;
    color: $footer-links;

    @include r(1199) {
      justify-content: space-between;
    }

    @include r(767) {
      margin-bottom: 15px;
    }
  }

  &__address {
    margin: 20px 100px 0 0;
    max-width: 200px;
    font-style: normal;

    @include r(1199) {
      margin-right: 30px;
    }

    @include r(767) {
      margin-right: 10px;
    }

    @include r(480) {
      max-width: 100%;
    }

    & span {
      text-transform: uppercase;
    }

  }

  &__contact {
    margin-bottom: 16px;
    display: block;

    outline-color: transparent;

    transition: color 0.3s;

    &:focus {
      color: $bg;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }

    &--height {
      line-height: 1.7;
    }
  }

  &__services {
    max-width: 120px;

    @include r(767) {
      margin-right: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;

    color: #1f2044;

    @include r(767) {
      margin-bottom: 15px;
    }
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    transition: color 0.3s;

    &:focus {
      color: $bg;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }
  }

  &__account {
    max-width: 120px;
    margin: 0 206px 0 182px;

    @include r(1199) {
      margin: 0 30px;
    }

    @include r(767) {
      margin: 0 10px;
    }
  }

  &__newsletter {
    max-width: 274px;

    @include r(767) {
      margin-right: 10px;
    }

    @include r(480) {
      max-width: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.7;

    @extend %text-hiding;
    -webkit-line-clamp: 2;

    @include r(767) {
      margin-bottom: 15px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__label {
    display: flex;

    span {
      font-size: 0;
    }

  }

  &__input {
    padding: 14px 18px;
    max-width: 170px;
    width: 100%;

    color: #234969;
    background-color: $bg-add;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1.3;

      color: #234969;
    }
  }

  &__btn {
    padding: 14px 19px 14px 16px;
    @extend %dmsans-400;

    color: #fff;
    background-color: $accent;

    transition: background-color 0.3s;

    &:focus,
    &:hover {
      background-color: $text;
    }

    &:active {
      background-color: $footer-links;
    }
  }
}

.footer-copyright {
  padding: 34px 0 39px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $footer-links;
  border-top: 1px solid #dae4e9;

  @include r(767) {
    padding: 15px 0;
    display: block;
    text-align: center;
  }

  &__list {
    display: flex;

    @include r(767) {
      margin-top: 15px;
      justify-content: center;
    }
  }

  &__item {
    padding: 0 14px;
    border-right: 1px solid $footer-links;

    @include r(767) {
      margin-top: 5px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
  }

  &__link {
    transition: color 0.3s;

    &:focus {
      color: $bg;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }
  }
}