// HEADER
.header {
  padding: 48px 0 45px;
  background-color: #fff;

  @include r(1199) {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    align-items: center;

    justify-content: flex-end;

    position: relative;
    top: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 1000;

    // MENU-BURGER
    .menuToggle {
      overflow: hidden;
      position: absolute;
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1100;

      input {
        display: flex;
        width: 35px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
      }

      span {
        width: 35px;
        height: 2px;
        margin-bottom: 10px;
        background: #7f8fa6;
        border-radius: 4px;
        -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
        -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
        -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
        -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
        transition: all .5s cubic-bezier(.08, .81, .87, .71);
      }

      .span1 {
        transform-origin: 4px 0px;
      }

      .span3 {
        transform-origin: bottom right;
        margin-bottom: 0;
      }

      input:checked~.span1 {
        background-color: #0c2461;
        transform: rotate(45deg) translate(5px);
      }

      input:checked~.span2 {
        background-color: #0c2461;
        transform: rotate(495deg) translate(1px);
      }

      input:checked~.span3 {
        background-color: #0c2461;
        transform: rotate(45deg);
        opacity: 0;
      }

      @include r(1199) {
        display: flex;
      }
    }

  }

  &__logo {
    position: absolute;
    left: 0;

    @include r(767) {
      display: none;
    }
  }
}

.logo {
  img {
    object-fit: contain;
    max-width: 146px;
    max-height: 39px;
  }
}

.header__inner.active .menu__list {
  transform: translateY(0%);
}


.locked .menu__overlay {
  display: block;
}


.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-bottom: 1px solid $border;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
  z-index: 1000;

  @include r(767) {
    padding: 5px 0;
  }
}

ul.menu__list {
  @include r(1199) {
    padding: 62px 0 15px;
    margin: -20px -15px;
  }
}

// MENU
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 67%;

  @include r(1400) {
    width: 74%;
  }

  @include r(1199) {
    flex-direction: row-reverse;
  }

  @include r(767) {
    width: 100%;
    justify-content: space-between;
  }

  &__overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }

  &__list {
    display: flex;
    position: relative;

    @include r(1199) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      background-color: #edf1f4;

      display: block;
      text-align: center;
      transform: translateY(-200%);

      z-index: 1050;

      transition: all 0.4s;
    }

    // SUBMENU
    .submenu {
      position: absolute;
      display: none;

      @include r(1199) {
        position: relative;
      }


      &__item {
        position: relative;
      }

      &__link a {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px;
      }

      // .menu__item>ul li 
      & .submenu__item {
        border: 1px solid #c7c8ca;
        margin-bottom: 0;
        min-width: 80px;
        background-color: #e4e4e5;

        margin: 5px 0;
        padding: 0 10px;
      }

      &__link {
        display: block;
        padding: 13px;
        color: $top-links;
        outline-color: $bg-add;
        @extend %rubik-500;
        font-size: 15px;

        transition: color 0.3s;

        &:focus {
          color: $bg;
        }

        &:hover {
          color: $accent;
        }

        &:active {
          color: $footer-links;
        }
      }
    }
  }

  &__link {
    display: block;
    @extend %rubik-500;
    font-size: 15px;

    color: $top-links;
    outline-color: $bg-add;
    cursor: pointer;

    transition: color 0.3s;

    @include r(1199) {
      padding: 15px 0;
      font-size: 17px;
    }

    &:focus {
      color: $bg;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }
  }

  .home-menu,
  .page-menu {
    position: relative;
    margin-right: 5px;

    &::after {
      content: '+';
      margin-left: 5px;
      z-index: 1200;
      position: absolute;
      top: 50%;
      transform: translateY(-56%);
    }
  }

  .is-active::after {
    content: '-';
    z-index: 1200;
  }


  &__item {

    @include r(1199) {
      display: block;
    }

    &:not(:last-child) {
      margin-right: 34px;

      @include r(1199) {
        margin-right: 0;
      }
    }
  }

  &__user {
    @include r(1199) {
      width: 88%;
    }

    @include r(767) {
      width: 100%;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: $text;

    transition: fill 0.3s;

    &:focus {
      fill: #aec3bd;
    }

    &:hover {
      fill: $accent;
    }

    &:active {
      fill: $footer-links;
    }

    &--search {
      margin-right: 21px;

      width: 51px;
      height: 52px;

      border-radius: 50%;
      background-color: #edf1f4;

      @include r(480) {
        margin-right: 15px;
      }
    }

    &--heart,
    &--cart {
      position: relative;
      margin-right: 0;
      width: 88px;
      height: 51px;

      background-color: $bg;
    }

    &--heart {
      padding: 22px 30px 12px 41px;
      border-radius: 41px 0 0 41px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;

        width: 1px;
        height: 32px;

        background-color: #fde7d3;
        z-index: 10;
      }
    }

    &--cart {
      padding: 21px 42px 13px 27px;
      border-radius: 0 41px 41px 0;
    }

    &--menu-dots {
      margin-left: 18px;

      width: 51px;
      height: 52px;

      border-radius: 50%;
      fill: #fff;
      background-color: $accent;


      transition: fill 0.3s;

      &:focus {
        fill: #e6d96d;
      }

      &:hover {
        fill: $bg;
      }

      &:active {
        fill: $footer-links;
      }

      @include r(480) {
        display: none;
      }
    }

    .icon {
      height: 17px;

      &--search {
        width: 16px;
        height: 16px;
      }

      &--heart {
        width: 18px;
      }

      &--cart {
        width: 19px;
      }

      &--menu-dots {
        width: 20px;
        height: 21px;
      }
    }
  }

  &__num {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 16px;
    height: 16px;

    font-size: 10px;
    line-height: 1.6;

    background-color: #fff;
    border-radius: 50%;

    &--cart {
      right: 30px;
    }
  }
}
