// HEADER
.header {
  padding: 51px 0 54px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;

  @include r(1100) {
    padding: 20px 0;
  }

  @include r(993) {
    padding: 25px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // position: relative;
  }

  &__logo {
    @include r(1100) {
      order: 1;
    }

    @include r(648) {
      display: none;
    }
  }
}


.header__inner.header__inner--active .menu__list {
  transform: translateY(25%);
}

ul.menu__list {
  @include r(1100) {
    padding: 30px 0 15px;
    margin: 0 -15px;
  }
}

.menu__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.menu__list>li {
  display: inline-block;
  margin-right: 20px;
  position: relative;

  @include r(1100) {
    display: block;
  }
}

.menu__submenu-1,
.menu__submenu-2 {
  visibility: hidden;
}

.menu__list li:hover .menu__submenu-1,
.menu__list li:hover .menu__submenu-2 {
  visibility: visible;
}

.menu__submenu-link {
  display: block;
}


// MENU
.menu {
  display: flex;
  align-items: center;

  &__nav-btn {
    display: none;

    @include r(1100) {
      display: block;
      position: relative;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    // position: relative;

    @include r(1100) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: #fff;
      display: block;
      text-align: center;
      transform: translateY(-200%);

      z-index: 100;

      transition: all 0.4s;
    }
  }

  &__item {
    @include r(1100) {
      display: block;

    }

    &:not(:last-child) {
      margin-right: 34px;

      @include r(1100) {
        margin-right: 0;
      }
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;

    color: $top-links;
    outline-color: pink;

    transition: color 0.3s;

    @include r(1100) {
      display: block;
      padding: 15px 0;
      color: #fff;
      font-size: 17px;

    }


    &:focus {
      color: $bg;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }
  }

  // &__list>li {
  //   display: block;
  //   position: relative;
  // }

  // &__submenu {
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   width: 100%;
  //   z-index: 10;

  //   a {
  //     display: block;
  //     padding-top: 10px;

  //     transition: color 0.3s;

  //     &:focus {
  //       color: $bg;

  //     }

  //     &:hover {
  //       color: $accent;
  //     }

  //     &:active {
  //       color: $footer-links;
  //     }
  //   }
  // }

  // &__list li:hover .menu__submenu {
  //   display: inline-block;
  // }

  &__user {
    @include r(1100) {
      order: 2;
    }
  }

  &__btns {
    display: flex;

  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: $text;

    transition: fill 0.3s;

    &:focus {
      fill: #aec3bd;
    }

    &:hover {
      fill: $accent;
    }

    &:active {
      fill: $footer-links;
    }

    &--search {
      margin-right: 21px;

      width: 51px;
      height: 52px;

      border-radius: 50%;
      background-color: #edf1f4;

      @include r(448) {
        margin-right: 15px;
      }
    }

    &--heart,
    &--cart {
      position: relative;
      margin-right: 0;
      width: 88px;
      height: 51px;

      background-color: $bg;

    }

    &--heart {
      padding: 22px 30px 12px 41px;
      border-radius: 41px 0 0 41px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;

        width: 1px;
        height: 32px;

        background-color: #fde7d3;
        z-index: 10;
      }
    }

    &--cart {
      padding: 21px 42px 13px 27px;
      border-radius: 0 41px 41px 0;
    }

    &--menu-dots {
      margin-left: 18px;

      width: 51px;
      height: 52px;

      border-radius: 50%;
      fill: #fff;
      background-color: $accent;

      transition: fill 0.3s;

      &:focus {
        fill: #e6d96d;
      }

      &:hover {
        fill: $bg;
      }

      &:active {
        fill: $footer-links;
      }

      @include r(448) {
        display: none;
      }
    }
  }

  &__btn-icon {
    height: 17px;

    &--search {
      width: 16px;
      height: 16px;
    }

    &--heart {
      width: 18px;
    }

    &--cart {
      width: 19px;
    }

    &--menu-dots {
      width: 20px;
      height: 21px;
    }
  }

  &__num {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 16px;
    height: 16px;

    font-size: 10px;
    line-height: 1.6;

    background-color: #fff;
    border-radius: 50%;

    &--cart {
      right: 30px;
    }
  }
}