.partners {
  padding: 264px 0 85px;
  background-color: #fef7f0;

  @include r(1200) {
    padding: 210px 0 20px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include r(993) {
      display: block;
    }
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.login-page {
  &__partners {
    padding-top: 78px;
  }
}