// PATNERS
.partners {
  padding: 264px 0 85px;
  background-color: #fef7f0;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -35px;
  }

  &__item{
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
  
}


