.partners {
  padding: 264px 0 85px;
  background-color: $bg-add;

  @include r(480) {
    padding: 190px 0 47px;
  }

  &__list {
    .slick-track {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  &__item {
    display: flex !important;
    justify-content: center;

    img {
      max-width: 167px;
      max-height: 84px;
      object-fit: contain;
    }
  }
}

.main {
  &__partners {
    padding-top: 78px;

    @include r(767) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}