// PRODUCTS
.products {
  padding-bottom: 86px;
  background-color: #fff;

  &__title {
    margin-bottom: 20px;

    @extend %dmsans-700;
    font-size: 36px;
    text-align: center;

    color: #191919;
  }

  &__filter-btns {
    margin-bottom: 88px;
    text-align: center;
  }

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;

    color: #8b8b8b;
    background-color: transparent;

    outline-color: #fff;
    border: none;
    cursor: pointer;

    transition: color 0.3s;

    &+& {
      margin-left: 14px;
    }

    &:hover {
      color: #1a1a1a;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    max-width: 270px;
    min-height: 380px;
    height: 100%;

    background-color: #fff;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
  }

  &__img-box {
    position: relative;
    margin-bottom: 140px;
    overflow: hidden;

    &:hover {
      .products__btn-icons {
        transform: translateX(-50%);
      }
    }
  }

  &__img {
    object-fit: cover;
  }

  &__btn-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-200%);
  }

  &__btn-icon {
    position: relative;
    width: 45px;
    height: 45px;

    fill: #a3bbc8;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    outline-color: transparent;
    outline-width: 0;
    border: none;
    cursor: pointer;

    transition: all 0.3s;

    &+& {
      margin-left: 16px;
    }

    &:hover {
      fill: #fff;
      background-color: #a3bbc8;
      box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    }
  }

  .icon {
    position: absolute;
    left: 25%;
    top: 30%;
  }

  &__content {
    position: absolute;
    bottom: 38px;

    text-align: center;
  }

  &__name {
    @extend %dmsans-500;
    font-size: 16px;

    color: $text;
  }

  &__price {
    margin: 0 auto;

    @extend %dmsans-700;
    font-size: 16px;
    line-height: 2.5;
    color: $accent;
  }
}