.products {
  padding: 60px 0 186px;
  background-color: #fff;

  @include r(1200) {
    padding: 25px 0;
  }

  &__title {
    margin-bottom: 25px;

    @include r(1200) {
      margin-bottom: 15px;
    }
  }

  &__filter {
    margin-bottom: 74px;

    @include r(1200) {
      margin-bottom: 20px;
    }

    @include r(448) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;

    @include r(1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(993) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(648) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 15px;
    }

  }
}