.service {
  padding: 48px 0;
  background-color: #fef7f0;
  position: relative;

  @include r(1199) {
    padding: 10px 0;
  }

  &::before,
  &::after {
    content: '';
    display: inline-block;
    border-left: 1px solid #e8e5e0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 35%;

    @include r(1199) {
      left: 27%;
    }

    @include r(991) {
      display: none;
    }
  }

  &::after {
    right: 35%;
    border-right: 1px solid #e8e5e0;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include r(991) {
      width: 100%;
    }

    @include r(991) {

      &--border:before,
      &--border:after {

        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);

        border-bottom: 1px solid #333;
        width: 50%;
      }

      &--border:after {
        bottom: 0;
      }
    }

  }

  &__img {
    @include r(1199) {
      width: 100%;
    }

    @include r(991) {
      display: none;
    }
  }

  &__icon {
    margin-right: 25px;
    fill: $accent;

    &--support {
      width: 52px;
      height: 54px;
    }

    &--truck {
      width: 55px;
      height: 37px;
    }

    &--payment {
      margin-right: 35px;
      width: 54px;
      height: 53px;
    }
  }

  &__content {
    max-width: 214px;

    @include r(991) {
      max-width: 100%;
      text-align: center;
      margin: 0 auto;

      padding-top: 15px;
    }
  }

  &__title {
    margin-bottom: 7px;

    @extend %dmsans-700;
    font-size: 18px;

    color: #414141;

    @extend %text-hiding;
    -webkit-line-clamp: 2;

    @include r(480) {
      font-size: 16px;
    }
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.7;

    color: #585858;

    @extend %text-hiding;
    -webkit-line-clamp: 2;

    @include r(991) {
      margin-bottom: 20px;
    }

    @include r(480) {
      font-size: 14px;
    }
  }
}