// SERVICE
.service {
  padding: 48px 0 48px 147px;
  background-color: #fef7f0;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;

    &--border {
      position: relative;
      margin: 0 304px 0 289px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -160px;

        border-left: 1px solid #e8e4df;
        height: 158px;

        transform: translateY(-50%);
      }

      &::after {
        right: -160px;
        border-right: 1px solid #e8e4df;
      }
    }
  }

  &__icon {
    margin-right: 25px;
    fill: $accent;

    &--support {
      width: 52px;
      height: 54px;
    }

    &--truck {
      width: 55px;
      height: 37px;
    }

    &--payment {
      margin-right: 35px;
      width: 54px;
      height: 53px;
    }
  }

  &__content {
    max-width: 214px;
  }

  &__title {
    display: block;
    margin-bottom: 7px;

    @extend %dmsans-700;
    font-size: 18px;

    color: #414141;
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.7;

    color: #585858;
  }
}