// TOP-SLIDER
.top-slider {
  background-color: $bg;

  &__item {
    display: flex !important;
    padding: 214px 264px 275px 298px;

    // background-image: url('../images/slider/slider-decor.png');
    // background-repeat: no-repeat;
    // background-position: 84% center;
  }

  &__content {
    max-width: 411px;
    margin-right: 123px;
  }

  &__title {
    display: block;
    margin-bottom: 25px;

    font-size: 72px;
    line-height: 1;
    @extend %rubik-500;
    text-transform: uppercase;

    color: $text;
  }

  &__text {
    margin-bottom: 39px;
    max-width: 388px;

    font-size: 18px;
    line-height: 1.6;
    @extend %rubik-400;

    color: $top-links;
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 25px 101px 21px 27px;

    font-size: 15px;
    line-height: 1;
    @extend %rubik-500;

    color: #fff;
    background-color: $accent;

    border: 0;
    outline-color: transparent;
    transition: all 0.3s;

    &:focus {
      color: #e6d96d;
    }

    &:hover {
      color: $bg;
      background-color: $text;

      &::after {
        background-image: url('../images/slider/yellow-arrow.svg');
      }
    }

    &:active {
      color: $footer-links;
    }

    &::after {
      content: '';
      background-image: url('../images/slider/btn_arrow.svg');
      width: 22px;
      height: 9px;

      position: absolute;
      right: 10%;
      top: 40%;
    }
  }

  &__img {
    align-self: flex-end;
    position: relative;

    &::after {
      display: block;

      content: '';
      width: 634px;
      height: 634px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;

      background-image: url('../images/slider/slider-decor.png');
    }
  }

  // SLICK-DOTS
  ul.slick-dots {
    display: flex;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);

    & li+li {
      margin-left: 12px;
    }

    & button {
      padding: 0;
      width: 30px;
      height: 30px;

      font-size: 10px;
      color: $text;

      border-radius: 50%;
      background-color: #fde3cc;
      border: none;
      outline-color: transparent;
      outline-width: 0;

      transition: color 0.3s;

      &:focus {
        color: #314b58;
      }

      &:hover {
        color: $accent;
      }

      &:active {
        color: $footer-links;
      }

    }

    & .slick-active button {
      background-color: #fff;
    }
  }
}