// TOP-SLIDER
.top-slider {
  background-color: $bg;

  &__item {
    display: flex !important;
    padding: 213px 0 177px 301px;
  }

  &__content {
    max-width: 411px;
    margin-right: 123px;
  }

  &__title {
    display: block;
    margin-bottom: 21px;

    font-size: 72px;
    line-height: 1;
    @extend %rubik-500;
    text-transform: uppercase;

    color: $text;
  }

  &__text {
    margin-bottom: 39px;
    max-width: 388px;

    font-size: 18px;
    line-height: 1.6;
    @extend %rubik-400;

    color: $top-links;
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 25px 101px 21px 27px;

    font-size: 15px;
    line-height: 1;
    @extend %rubik-500;

    background-color: $accent;
    color: #fff !important;

    transition: background-color 0.3s;

    &:focus{
      background-color: $top-links;
    }
    &:hover {
      background-color: $text;
    }

    &:active {
      background-color: $footer-links;
    }

    &::after {
      content: '';
      position: absolute;
      right: 10%;
      top: 40%;

      background-image: url('../images/slider/icons/btn_arrow.svg');
      width: 22px;
      height: 9px;
    }
  }

  &__box {
    display: flex;
    align-items: flex-end;
    position: relative;

    &::after {
      display: block;

      content: '';
      width: 634px;
      height: 634px;
      position: absolute;
      right: -140px;
      top: -120px;
      z-index: -1;

      background-image: url('../images/decor/slider-decor.png');
    }
  }

  &__img {
    max-width: 640px;
  }

  // SLICK-DOTS
  ul.slick-dots {
    display: flex;
    position: absolute;
    bottom: 42px;
    left: 50%;
    
    transform: translateX(-50%);

    & li+li {
      margin-left: 12px;
    }

    & button {
      padding: 0;
      width: 30px;
      height: 30px;

      font-size: 10px;
      color: $text;

      border-radius: 50%;
      background-color: #fde3cc;
      border: none;
      outline-color: transparent;
      outline-width: 0;

      transition: color 0.3s;

      &:focus {
        color: #314b58;
      }

      &:hover {
        color: $accent;
      }

      &:active {
        color: $footer-links;
      }

    }

    & .slick-active button {
      background-color: #fff;
    }
  }
}