// VIDEO
.video {
  background-size: cover;
  background-repeat: no-repeat;

  &__link {
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 501px;
  }

  &__play {
    fill: #fff;
    transition: fill 0.3s;

    &:focus {
      fill: #e6d96d;
    }

    &:hover {
      fill: #183b61;
    }

    &:active {
      fill: $footer-links;
    }
  }
}