.login {
  padding: 115px 0;
  max-width: 470px;
  margin: 0 auto;

  @include r(991) {
    padding: 60px 10px;
  }

    @include r(480) {
      padding: 20px 10px;
    }

  &__label {
    display: block;
    padding-bottom: 3px;

    color: $top-links;
  }

  &__input {
    display: block;
    width: 100%;

    height: 60px;
    margin-top: 10px;
    margin-bottom: 26px;
    padding: 0 15px;

    border: 2px solid #f6f6f6;
    background-color: #fff;
  }

  &__btn,
  &__link {
    display: block;
    margin-bottom: 32px;
    padding: 17px 0;
    width: 100%;

    font-size: 18px;
    @extend %rubik-500;

    cursor: pointer;

    background-color: $accent;
    border: 2px solid $accent;
    color: #fffefe;

    transition: all 0.3s;

    &:focus {
      color: $bg;
      background-color: $text;
    }

    &:hover {
      background-color: #fff;
      color: $accent;
    }

    &:active {
      color: $footer-links;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__text {
    padding-top: 34px;
    margin-bottom: 17px;

    text-align: center;

    color: $top-links;
    border-top: 2px solid#f6f6f6;
  }

  &__link {
    &--white {
      margin-bottom: 0;
      text-align: center;

      border: 2px solid $accent;
      color: $text;
      background-color: #fff;

      transition: all 0.3s;

      &:focus {
        color: $bg;
        background-color: $text;
      }

      &:hover {
        background-color: $accent;
        color: #fff;
      }

      &:active {
        color: $footer-links;
      }
    }
  }
}
