.details-slider {
  padding-top: 120px;
  background-color: #fff;

  @include r(991) {
    padding-top: 60px;
  }

  @include r(767) {
    padding-top: 30px;
  }

  &__product {
    margin-bottom: 100px;

    @include r(991) {
      margin-bottom: 40px;
    }
  }

  &__inner {
    display: flex;

    @include r(991) {
      flex-wrap: wrap;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 550px;
    margin-left: 70px;

    @include r(1199) {
      margin-left: 20px;
    }

    @include r(991) {
      max-width: 100%;
      align-items: center;
      margin-left: 0;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    color: $border;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    @include r(991) {
      font-size: 25px;
    }

    @include r(767) {
      margin-top: 15px;
    }
  }

  &__star {
    margin-bottom: 37px;

    @include r(1199) {
      margin-bottom: 18px;
    }
  }

  &__price {
    margin-bottom: 36px;
    font-size: 30px;
    color: $border;

    @extend %text-hiding;
    -webkit-line-clamp: 1;

    @include r(1199) {
      margin-bottom: 18px;
    }

    @include r(991) {
      font-size: 22px;
    }
  }

  &__text {
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 1.8;

    p {
      @extend %text-hiding;
      -webkit-line-clamp: 3;
    }

    @include r(1199) {
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 1.3;
    }
  }
}