.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  .pagination__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
  }

  &__link {
    padding: 19px 20px;
    border: 1px solid $accent;
    background-color: #fff;
    color: $text;
    transition: all 0.3s;

    &:hover {
      background-color: $accent;
      color: #fff;
    }

    &--active {
      color: #fff;
    }
  }

  &__next {
    border: 1px solid $accent;
    padding: 19px 19px 21px;
    transition: all 0.3s;

    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
}