.contacts {
  padding: 120px 0 11px;

  @include r(991) {
    padding-top: 80px;
  }

  @include r(767) {
    padding-top: 40px;
  }

  &__title,
  &__subtitle {
    display: block;
    margin-bottom: 20px;

    font-size: 16px;
    @extend %poppins-700;
    text-align: center;

    color: $accent;
  }

  &__subtitle {
    margin-bottom: 76px;

    font-size: 35px;
    @extend %dmsans-700;

    color: $top-links;

    @include r(767) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 120px;

    @include r(991) {
      margin-bottom: 80px;
    }

    @include r(767) {
      margin-bottom: 40px;
    }

    a {
      &:focus {
        color: $bg;
      }

      &:hover {
        color: $accent;
      }

      &:active {
        color: $footer-links;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 370px;
    padding: 70px 5px 80px;
    background-color: #fbfbfb;
    border: 2px solid transparent;

    transition: all 0.5s;

    &:not(:last-child) {
      margin-right: 30px;
    }

    @include r(1199) {
      margin-bottom: 30px;
      width: 46%;

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    @include r(767) {
      width: 100%;
      padding: 30px 5px;

      &:nth-child(1) {
        margin-right: 0;
      }
    }

    &:focus {
      background-color: #aec3bd;
    }

    &:hover {
      border: 2px solid $accent;

      .contacts__icon-box {
        background-color: $accent;
      }

      .icon {
        fill: #fff;
      }
    }

    &:active {
      background-color: $bg-add;
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 65px;
    padding: 18px 24px;

    box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    border-radius: 32%;

    @include r(767) {
      margin-bottom: 35px;
    }

    .icon {
      width: 37px;
      height: 44px;
      fill: $accent;
    }
  }

  &__address,
  &__box {
    font-style: normal;
    text-align: center;

    span {
      margin-bottom: 28px;

      @extend %dmsans-700;
      font-size: 20px;
      color: #222;

      @extend %text-hiding;
      -webkit-line-clamp: 1;
    }

    p {
      font-size: 16px;
      line-height: 1.9;
      color: #565872;

      @extend %text-hiding;
      -webkit-line-clamp: 2;
    }
  }

  &__link {
    p {
      &:focus {
        color: $bg;
      }

      &:hover {
        color: $accent;
      }

      &:active {
        color: $footer-links;
      }
    }
  }

  &__inner {
    display: flex;

    @include r(1199) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__form {
    max-width: 620px;
    margin-right: 50px;
    width: 100%;

    @include r(1199) {
      margin: 0 0 30px;
      max-width: 100%;
    }

    input,
    textarea {
      background-color: #f5f5f5;
    }

    input {
      @include r(767) {
        margin-bottom: 10px;
      }
    }

    textarea {
      @include r(767) {
        margin-top: 10px;
      }
    }

    .comments-form__label {
      width: 50%;

      @include r(767) {
        width: 100%;
      }
    }

    .comments-form__btn {
      border-radius: 5px;
      min-width: 200px;
    }
  }



  #map {
    min-width: 500px;
    min-height: 334px;

    @include r(1199) {
      min-width: 100%;
    }
  }

}